{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <h1>Баланс <small>{{ balance_sheet.date }}</small></h1>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>Активные счета</h2>

        <table class="table">
          <thead>
            <tr>
              <th class="number">Номер счета</th>
              <th>Владелец</th>
              <th class="balance">Баланс</th>
            </tr>
          </thead>
          <tbody>
            {% for account, balance in balance_sheet.asset.iteritems() %}
              <tr>
                <td class="number">{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td class="balance">{{ balance | monetize }}</td>
              </tr>
            {% endfor %}
            <tr class="total">
              <td></td>
              <td>Всего</td>
              <td class="balance">{{ balance_sheet.total_assets | monetize }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h2>Пасивные счета</h2>

        <table class="table">
          <thead>
            <tr>
              <th class="number">Номер счета</th>
              <th>Владелец</th>
              <th class="balance">Баланс</th>
            </tr>
          </thead>
          <tbody>
            {% for account, balance in balance_sheet.liability.iteritems() %}
              <tr>
                <td class="number">{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td class="balance">{{ -balance | monetize }}</td>
              </tr>
            {% endfor %}
            <tr class="total">
              <td></td>
              <td>Всего</td>
              <td class="balance">{{ balance_sheet.total_liabilities | monetize }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
{% endblock %}
